.logo-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: beige;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav.flex {
    display: flex;
    gap: 10px;
}

nav.flex a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px 16px;
    border-radius: 10%;
}

.logo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/treasuzhr/lumineatelier-assets/main/quality_restoration_20260214034559621.jpg.jpeg);
    background-size: cover;
    flex-shrink: 0;
}

#user-greeting {
    font-size: 30px;
    color: #000000;
    font-family: sans-serif;
    font-weight: 600;
}

#home-page {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gainsboro;
    background-image: url(https://images.pexels.com/photos/4337/art-flowers-dark-colorful.jpg?_gl=1*1grqb5t*_ga*MTcxNTE2NDE3Mi4xNzcxMDEwOTE2*_ga_8JE65Q40S6*czE3NzEwMjIxNjkkbzIkZzEkdDE3NzEwMjIzMDckajIxJGwwJGgw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page h1 {
    margin-bottom: 5px;
    color: white;
}

#home-page p {
    margin-top: 0px;
    color: white;
}

#our-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: beige;
}

.profile-title {
    align-self: flex-start;
    text-align: left;
}

.about-company h2 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.about-company p {
    margin-top: 0;
}

.vision h2 {
    margin-bottom: 8px;
}

.vision p {
    margin-top: 0;
}

.mission h2 {
    margin: bottom 8px;
}

.mission ul {
    list-style-type: none;
    margin-top: 0;
}

#our-workshops-page {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ws-title {
    align-self: flex-start;
    padding: 40px 20px;
}

.ws-name {
    text-align: center;
}

.workshop-list {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 auto;
}

.ws-image {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gainsboro;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.img-painting { background-image: url('https://plus.unsplash.com/premium_photo-1733317405283-79c49a9e0356?q=80&w=1204&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); }
.img-crochet { background-image: url('https://images.pexels.com/photos/3945634/pexels-photo-3945634.jpeg?_gl=1*1v8rmfq*_ga*MTcxNTE2NDE3Mi4xNzcxMDEwOTE2*_ga_8JE65Q40S6*czE3NzEwMTA5MTUkbzEkZzEkdDE3NzEwMTA5NzMkajIkbDAkaDA.'); }
.img-bento { background-image: url('https://raw.githubusercontent.com/treasuzhr/lumineatelier-assets/refs/heads/main/b2f%20val.jpeg'); }
.img-clay { background-image: url('https://images.pexels.com/photos/6693557/pexels-photo-6693557.jpeg'); }

#message-us-page {
    background-color:beige;
    padding: 60px 0;
    width: 100%;
}

.message-container {
    display: flex;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 8px;
}

.form-wrapper, .result-wrapper { flex: 1; }

.result-wrapper {
    margin-top: 60px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#display-box {
    border: 1px solid #000000;
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    min-height: 250px;
}

footer {
    text-align: center;
}